
* {
  box-sizing: border-box;
}

body, input {
  font: menu;
  padding: 0;
  margin: 0;
}

.controls {
  background-color: rgb(169, 33, 2);
  /*rgb(217, 241, 238);*/
  color: white;
  padding: 1em;
  position: fixed;
  width: 100%;
}

.content {
  display: flex;
}

.note-list {
  width: 200px;
  height: 100vh;
  padding: 1em;
  background-color: rgb(169, 33, 2);
  opacity: 0.6;
  box-shadow: 5px 0 10px 1px rgba(174, 185, 185, 0.2);
}

.note-list-item {
  display: block;
  padding: 5px;
  color: black;
  text-decoration: none;
}

.note-list-item:hover {
  text-decoration: underline;
}

.note-list-item.active {
  background-color: rgb(171, 255, 255);
}

.note-content {
  padding: 2em 4em;
}
