<nav class="navbar" role="navigation">
  <div class="navbar-header controls">

    <div class="row">
      <div class="col-md-5"></div>
      <h2 class="col-md-2" id="title">ITAMAE 板前</h2>
      <div class="col-md-5"></div>
    </div>
  </div>
</nav>

<br><br><br>
<div class="container">
  <div class="row">
    <button class="nav-button" id="open-file">Open Image</button>
    <button class="nav-button" id="copy-html">Crop Text</button>
    <button class="nav-button" id="save-file">OCR Recipe</button>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</div>
