<nav class="navbar" role="navigation">
  <div class="navbar-header controls">

    <div class="row">
      <h2 id="title">ITAMAE 板前</h2>
    </div>
  </div>
</nav>

<!-- <div class="content">
  <div class="col-md-12">
  <h2 id="title">ITAMAE 板前</h2>
    {{outlet}}
  </div>
</div> -->
